<section class="container">
  <div>
    <h3 class="text-center mt-3">Agendar Serviço de C.N.H.</h3>
  </div>
  <form class="mt-3 flex-nowrap">
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Nome</span>
      <input type="text" class="form-control" placeholder="Nome completo" aria-label="nome" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">C.P.F.</span>
      <input type="text" class="form-control" placeholder="CPF" aria-label="Username" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Data de nascimento</span>
      <input type="date" class="form-control" placeholder="Data de Nascimento" aria-label="dataNascimento" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Email</span>
      <input type="text" class="form-control" placeholder="Email para contato" aria-label="dataNascimento" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Telefone</span>
      <input type="text" class="form-control" placeholder="Telefone para contato" aria-label="dataNascimento" aria-describedby="basic-addon1">
    </div>
    <div class="input-group mb-3">
      <span class="input-group-text" id="basic-addon1">Escolha o serviço</span>
      <select class="form-select" aria-label="CIN OU RG">
        <option value="1" selected>Renovar CNH Vencida / Transferir / Renovar CNH Vencida</option>
        <option value="2">2º via de CNH / CNH Definitiva / Transferir CNH</option>
        <option value="3">1º Habilitação</option>
        <option value="4">Mudar CNH para PCD</option>
        <option value="5">Outro serviço</option>
      </select>
    </div>

    <button type="submit" class="btn btn-primary">Continuar</button>
  </form>
  </section>
