<section class="container">
<div class="mt-3">
  <h1>Escolher Serviço:</h1>
</div>
<div class="row justify-content-center mt-3" id="servicos">
  <div class="card m-1" style="width: 18rem;">
    <a routerLink="/agendar/identidade" style="text-decoration: none; color: inherit;">
    <div class="card-body">
      <h3>Documentos Pessoais</h3>
      <ul class="list-group">
        <p class="card-text">Obter documento de identidade RG Estadual ou CIN </p>
      </ul>
    </div>
  </a>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <a routerLink="/agendar/cnh" style="text-decoration: none; color: inherit;">
    <div class="card-body">
      <h3>Carteira Nacional de Habilitação</h3>
      <ul class="list-group">
        <p class="card-text">Renovar CNH, CNH Definitiva, 1º Habilitação, Exercer Atividade Remunerada (EAR), etc...</p>
      </ul>
    </div>
  </a>
  </div>
  <div class="card m-1" style="width: 18rem;">
    <a routerLink="/agendar/veiculo" style="text-decoration: none; color: inherit;">
    <div class="card-body">
      <h3>Veículo</h3>
      <ul class="list-group">
        <p class="card-text">Transferir veículo, Licenciar veículo, 2ª via de placa, etc...</p>
      </ul>
    </div>
  </a>
  </div>
</div>
<div id="avaliacoes">

</div>
</section>
